.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-wrapper {
  max-width: 220px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.box {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.hidden-box {
  height: 60px;
  width: 60px;
}
