* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.multi-select-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid lightgrey;
  padding: 8px;
  min-height: 32px;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.multi-select-wrapper:focus {
  border: 1px solid lightseagreen;
}

.selected-wrapper {
  max-width: 320px;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
}

.cross-icon {
  color: 1px solid black;
}

.divider {
  border: 1px solid black;
  align-self: stretch;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px;
  width: -webkit-fill-available;
  gap: 8px;
  max-height: 150px;
  overflow-y: scroll;
  z-index: 100;
  display: none;
  background-color: white;
}

.options-wrapper.show {
  display: flex;
}

.each-option-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}

input,
button {
  cursor: pointer;
}

.selected-values {
  display: flex;
  gap: 4px;
}
