* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slot-container {
  position: relative;
}

.line {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1px;
  height: 100%;
  background-color: lightgray;
}

.slot {
  height: 80px;
  border-bottom: 1px solid lightgray;
  padding-top: 2px;
  padding-left: 20px;
}

.each-event {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: calc(100% - 88px);
  left: 80px;
  background-color: lightblue;
}
