.App {
  text-align: center;
}

.header-wrapper {
  margin: 48px;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
}

.each-card {
  min-width: 120px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}

.hero-img {
  max-height: 120px;
  max-width: 120px;
  height: 120px;
}