.grid {
  display: grid;
  grid-template-columns: repeat(var(--rows), 32px);
  grid-template-rows: repeat(var(--cols), 32px);
  gap: 4px;
  user-select: none;
}

.cell {
  height: 32px;
  width: 32px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: lightblue;
}
