.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin: 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 192px;
  box-shadow: 0 0 0 2px;
}

.cell {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
