.skeleton {
    display: block;
    background-color: rgba(0, 0, 0, 0.11);
    animation: skeleton-pulse 1.5s ease-in-out 0.5s infinite;
}

.skeleton-circular {
    border-radius: 100%;
}

.skeleton-rectangular {
    border-radius: 0;
}

.skeleton-rounded {
    border-radius: 8px;
}

@keyframes skeleton-pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }